	body {
		background: url(./images/background.png);
		background-size: cover;
	}

	@font-face {
		font-family: 'BookkMyungjo-Bd';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
		font-style: normal;
	}
	
	* {
		font-family: 'BookkMyungjo-Bd';
	}

	.container {
		display: flex;
		justify-content: center;
	}
	
	.topdiv {
		border-collapse: collapse;
		margin:20px;
	}	
	
	.top2div {
		border-bottom: 1px solid;
		color: #E2E2E2;
	}
	.absolute {
		position: absolute;
		margin-top: 10px;
		right: 0;
	}
	.rogo {
		text-align: left;
		margin-top: 30px;
		display: inline-block;
		font-size: 20px;
	}
	.mainText {
		font-size: 18px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	
	.child {
		vertical-align: middle;
		display: inline-block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		background: skyblue;
	}
	
	.todaydiv {
		border-right: 1px solid #E2E2E2;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.topTableStyle {
		width: 100%;
		border-collapse: collapse;
	}
	.topTableStyle1 {
		width: 100%;
		margin: 30px;
		border-collapse: collapse;
	}
	.topTableStyle2 {
		border-collapse: collapse;
	}
	.underline-row {
		border-bottom: 1px solid;
		color: #E2E2E2;
	}
	.button {
		border: none;
		background-color: transparent;
		padding: 0;
		outline: none;
		font-size: 16px;
		background-color: #e5dbcf;
		width: 500px;
		height: 40px;
	}
	a {
	  text-decoration: none;
	  color: black;
	  cursor: pointer;
	}
	.calendar {
		display: inline-block;
		padding: 10px;
		font-family: Arial, sans-serif;
		width: 550px;
		height: 550px;
		margin: 20px;
	}

	.calendar-header {
		text-align: center;
		margin-bottom: 10px;
	}

	.calendar-table {
		width: 100%;
	}

	.calendar-header .prev-month,
	.calendar-header .next-month {
		cursor: pointer;
		float: left;
	}

	.calendar-header .year-month {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 5px;
		display: inline-block;
		text-align: left;
		vertical-align: middle;
		margin-right: 10px;
	}

	.calendar-header .next-month {
		cursor: pointer;
		float: right;
	}

	.calendar-table thead th {
		text-align: center;
	}

	.calendar-table tbody td {
		text-align: center;
		cursor: pointer;
		padding: 5px;
	}

	.calendar-table tbody td:hover {
		background-color: #eee;
	}

	.saturday {
		color: blue;
	}

	.sunday {
		color: red;
	}
	
	.fiveSeconds {
		background-color: #e5dbcf;
	}
